# MTA Subway Origin-Destination Ridership Estimate: 2023
Author: Mark Bauer  
NYS Open Data: https://data.ny.gov/Transportation/MTA-Subway-Origin-Destination-Ridership-Estimate-2/uhf3-t34z/about_data

In [1]:
import duckdb

In [2]:
ls

LICENSE             data-exporter.py    subway-trips.db
README.md           export-log.txt      subway-trips.ipynb

In [3]:
!du -sh *

4.0K	LICENSE
4.0K	README.md
4.0K	data-exporter.py
 16K	export-log.txt
2.5G	subway-trips.db
4.0K	subway-trips.ipynb

In [4]:
# create a DuckDB database instance
con = duckdb.connect("subway-trips.db")

In [5]:
%%time

# preview data
con.sql("SELECT COUNT(*) AS count_rows FROM trips").show()

┌────────────┐
│ count_rows │
│   int64    │
├────────────┤
│  115731896 │
└────────────┘

CPU times: user 101 ms, sys: 51.3 ms, total: 152 ms
Wall time: 24.4 ms

In [6]:
con.close()